* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 70px;
    --header-footer-bg-color: #181818;
    --menu-list-width: 18vw;
    --menu-list-bg-color: #202020;
    --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));
    --main-bg-color: #252525;
    --footer-height: 40px;
}

body {
    color: white;
}

header {
    height: var(--header-height);
    background-color: var(--header-footer-bg-color);
    padding: 5px 8px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header h1 {
    width: fit-content;
    margin: 0 auto;
    font-size: 40px;
    height: fit-content;
}

#header-title {
    color: white;
    text-decoration: none;
}

#menu-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 8px;
}

#menu-button div {
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

#menu-list {
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 0;
    top: var(--header-height);

    background-color: var(--menu-list-bg-color);
    width: var(--menu-list-width);
    height: var(--main-height);
    padding: 5px 8px;

    list-style-type: none;
}

#menu-list.list-visible {
    display: flex;
}

#menu-list a {
    color: white;
    text-decoration: none;
}

main {
    min-height: var(--main-height);
    background-color: var(--main-bg-color);
    width: 100vw;
    position: absolute;
    right: 0;
    top: var(--header-height);
}

main.list-visible {
    width: calc(100vw - var(--menu-list-width));
}

footer {
    height: var(--footer-height);
    background-color: var(--header-footer-bg-color);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#copyright {
    text-align: center;
}